Checks: '*,-llvmlibc-*,-llvm-*,-google-runtime-int,-altera-*,-modernize-use-trailing-return-type,-fuchsia-*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-function-cognitive-complexity,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-macro-usage,-modernize-use-nodiscard,-cert-err58-cpp,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-readability-identifier-length,-misc-no-recursion'
